body {
  margin: 0 auto;
  width: 1440px;
  display: grid;
  grid-template-columns: 360px 360px 360px 360px;
  grid-template-rows: 200px 200px 200px 200px;
  text-align: center;
}

p {
  line-height: 0.8px;
}

span {
  color: rgb(110, 110, 110);
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #08c;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  height: 36px;
}

nav ul {
  list-style-type: none;
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin: 0;
  padding: 0;
}

nav ul li {
  height: 35px;
  width: 104px;
}

nav ul li div {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

button {
  background: rgb(125, 125, 125);
  background: linear-gradient(rgb(125, 125, 125), rgb(125, 125, 125) 35%, rgb(50, 50, 50) 65%, rgb(50, 50, 50));
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: solid 0.5px rgb(125, 125, 125);
}

button:hover {
  background: rgb(90, 90, 90);
  background: linear-gradient(rgb(95, 95, 95), rgb(95, 95, 95) 35%, rgb(20, 20, 20) 65%, rgb(20, 20, 20));
  width: 100%;
}

input {
  display: block;
  background-color: white;
  width: 80%;
  height: 30%;
  padding: auto;
  margin: auto;
  border: solid 1px gray;
  border-radius: 6px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6%2BR8AAAAlElEQVR42oWQQRHEIAxF10ElVAISVgo3bCABCUhYCZWAhEpAQpoD6bzJhNnDO0DyyA8fEXkppXyVCpLViDUfyqVIQN9JFMY637hrlCySFauL21E7KVWbAIGx56rnSLqc5KPXSLo3kySalPhTygFhRDtFC09EIsMeZJSGBj7Qveh3OJW89syImiH%2BIO2BOJX0XwA2%2BQEL4pAhSX4aBQAAAABJRU5ErkJggg%3D%3D");
  background-repeat: no-repeat;
  background-size: auto;
}

footer {
  grid-column-start: 1;
  grid-column-end: 6;
  text-align: left;
}

.flex-spacer-1 {
  flex: 1;
  background-color: transparent;
}

.flex-spacer-3 {
  flex: 3;
  background-color: transparent;
}

.round-first-button {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.button-apple-logo {
  position: absolute;
  top: 0;
  left: -31px;
  object-fit: cover;
}

.button-store {
  position: absolute;
  top: -28px;
  left: -31px;
  object-fit: cover;
}

.button-mac {
  position: absolute;
  top: -57px;
  left: -31px;
  object-fit: cover;
}

.button-ipod {
  position: absolute;
  top: -87px;
  left: -31px;
  object-fit: cover;
}

.button-iphone {
  position: absolute;
  top: -117px;
  left: -31px;
  object-fit: cover;
}

.button-ipad {
  position: absolute;
  top: -147px;
  left: -31px;
  object-fit: cover;
}

.button-itunes {
  position: absolute;
  top: -177px;
  left: -31px;
  object-fit: cover;
}

.button-support {
  position: absolute;
  top: -208px;
  left: -31px;
  object-fit: cover;
}

.last-list-element {
  background: rgb(125, 125, 125);
  background: linear-gradient(rgb(125, 125, 125), rgb(125, 125, 125) 35%, rgb(50, 50, 50) 65%, rgb(50, 50, 50));
  display: flex;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.top-content {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: url(../img/your_verse_hero.jpg) no-repeat;
  background-position-y: -515px;
}

.titles-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.third-title-hider {
  overflow: hidden;
  height: 57px;
  text-align:center;
}

.third-title-hider img {
  position: relative;
}

.bottom-content {
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  flex-direction: column;
  height: 200px;
}

.bottom-column-1 {
  grid-column-start: 1;
  grid-column-end: 2;
  background: url(../img/promo_iphone5s.jpg) no-repeat;
}

.bottom-column-2 {
  grid-column-start: 2;
  grid-column-end: 3;
  background: url(../img/promo_iphone5c.jpg) no-repeat;
}

.bottom-column-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  background: url(../img/promo_30_years.jpg) no-repeat;
}

.bottom-column-4 {
  grid-column-start: 4;
  grid-column-end: 5;
  background: url(../img/promo_supplier_responsibility.jpg) no-repeat;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-left-column {
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  flex-direction: column;
}

.footer-left-column-positioner {
  display: block;
  position: relative;
  left: 150px;
}

.footer-right-column {
  grid-column-start: 2;
  grid-column-end: 3;
  display: block;
  position: relative;
  left: 150px;
}
